
DATABASE_URL=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SESSION_SECRET=
JWT_SECRET=


OPENAI_API_KEY=

PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
PINECONE_INDEX=



AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
BUCKET_REGION=